html {
  scroll-behavior: smooth;
}
body{
    background-color: #f5f4f4;
    font-family: sans-serif;
}
header {
    background-color: white;
    color: #024902;
    box-shadow:  0px 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 1250px;
    height: 300px;
    margin: 40px;
    position: relative;
    border: 4px dashed#024902;
}
header h1{
    position: absolute;
    bottom: 1px;
    left: 400px;
}
header img{
     width: 250px;
    height: 250px;
}
ul {
    display: flex;
    gap: 60px;
    padding: 5px;
    list-style: none;
    justify-content: center;
}
nav {
    background-color:#024902;
    position: sticky; 
    top: 0px;          
    z-index: 1; 
}
nav a{
    text-decoration: none;
    color: white;
}
h5 {
  color: #555555; 
  font-weight: 300;    
}
#main1,#main2,#main3,#main4,#main5{
   background-color: #024902;
   color: white;
   border-radius: 20px;
   width: 1250px;
   height: 200px; 
   margin-left: 60px;
   margin-bottom: 10px;
   margin-top: 10px;
   padding-top: 25PX;
   text-align: center;
   font-size: xx-large;
}
#deals,#burgers{
    padding-left: 150px;
    padding-right: 50px;
}
#deals section,#burgers section{
    padding: 5px;
    box-shadow:  2px 2px 10px #024902;
    background-color: white;
    border-radius: 10px;
    margin: 7px;
    width: 250px;
    height: 420px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}
#deals section:hover,#burgers section:hover{
    transform: scale(1.05);
}
#deals img,#burgers img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
#deals h3,#burgers h3{
    position: absolute;
    bottom: 0px;
}
#deals button,#burgers button{
    background-color: #ec1e26;
    color: white;
    border: none;
    border-radius: 20px 0 10px 0;
    width: 80px;
    height: 45px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: 700; 
    font-size: 20px; 
    cursor: pointer;
}
#newarrivals,#wraps,#others{
    padding-left: 70px;
    padding-right: 50px;
}
#newarrivals section,#wraps section,#others section{
    box-shadow:  2px 5px 20px #024902;
    background-color: white;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 50px;
    width: 250px;
    height: 480px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}
#newarrivals section:hover,#wraps section:hover,#others section:hover{
    transform: scale(1.05);
}
#newarrivals img,#wraps img,#others img{
    width: 250px;
    height: 270px;
    border-radius: 15px;
}
#newarrivals h4,#wraps h4,#others h4{
    position: absolute;
    bottom: 40px;
    left: 100px;
}
#newarrivals button,#wraps button,#others button{
    background-color: #ec1e26;
    color: white;
    border: none;
    border-radius: 30px;
    width: 120px;
    height: 40px;
    position: absolute;
    bottom: 15px;
    left: 65px;
    font-weight: 700; 
    font-size: 12px; 
    cursor: pointer;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 5;
}
#viewcart{
    background-color: #ec1e26;
    border-radius: 7px;
    border: none;
    color: white;
    width: 400px;
    height: 40px;
    text-align: center;
    font-size: x-large;
    position: absolute;
    position: fixed;
    bottom: 0px;
    left: 500px; 
    cursor: pointer;
    display: none;
}
#cart{
    background-color: #f1eeee;
    border-radius: 20px;
    width: 400px;
    height: 540px;
    z-index: 1000;
    position: absolute;
    right: 0px;
    top: 50px;
    position: fixed;
    display: none;
    padding: 20px;
    max-height: 550px;  
    overflow-y: auto; 
}
#cartcross{
    background-color: #024902;
    color: white;
    border: none;
    border-radius:10px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 400px;
    font-weight: 700; 
    cursor: pointer;
}
#checkout{
    background-color: #024902;
    color: white;
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    font-weight: 700; 
    font-size: 15px; 
    cursor: pointer;
    position: absolute;
    left: 160px;
    margin-top: 10px;
}
#order{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 550px;
    z-index: 1000;
    position: absolute;
    right: 440px;
    top: 30px;
    position: fixed;
    padding: 20px;
    display: none;
    max-height: 550px;  
    overflow-y: auto; 
}
#name,#adress,#number{
    border-radius: 5px;
    border-color: rgb(216, 207, 207);
    width: 390px;
    height: 30px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
label{
    font-size: larger;
}
#place{
    background-color: #024902;
    color: white;
    border: none;
    border-radius: 30px;
    width: 120px;
    height: 40px;
    margin-left: 130px;
    font-weight: 700; 
    font-size: 12px; 
    cursor: pointer;
}
#end{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 240px;
    z-index: 1000;
    position: absolute;
    right: 450px;
    top: 200px;
    position: fixed;
    padding: 20px;
    display: none;
}
#notification{
    background-color: #219b21;
    color: white;
    border-radius: 20px;
    width: 150px;
    padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 600px;
    position: fixed;
    display: none;
    animation: slideUp 2s forwards;
}
@keyframes slideUp {
    0% { bottom: -50px; opacity: 0; }
    20% { bottom: 50px; opacity: 1; } 
    80% { bottom: 50px; opacity: 1; } 
    100% { bottom: -50px; opacity: 0; } 
}
#cartItems div {
    margin-bottom: 10px;
    padding: 5px;          
    border-bottom: 1px solid #ccc; 
}
#remove{
    border-color: red;
    background-color: white;
    border-radius: 7px;
    padding: 0px;
    position: fixed;
    right: 150px;
}
#add{ 
    border-color: #024902;
    background-color: white;
    border-radius: 7px;
    padding: 0px;
    position: fixed;
    right: 120px;
}
#total{
    font-size: xx-large;
}
#price{
    position: fixed;
    font-size: large;
    right: 10px;  
}